.hiring-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(214, 233, 249);
}

.heading-one {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #1a245d
}

.hiring-section {
  margin-bottom: 40px;
}

.heading-two {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1a245d
}

.job-item {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.heading-three{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #1a245d;
}
.paragraphs{
  color: #1a245d;
  font-size: 1.1rem;
  line-height: 1.6;
}

.application-links a{
  font-size: 1.1rem;
  list-style: none;
  text-decoration: none;
  color:  #2c8196;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}
.application-links a:hover{
  color:   #0c6880;
  border-bottom: 2px solid    #0c6880;
}

