.services-section{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 7rem;
    flex-wrap: wrap;
    background-color: rgb(214, 233, 249);
}

@media (max-width:580px){
    .services-section{
        gap: 3rem;
    }

}


@media (max-width:450px){
    .services-section{
        gap: 3rem;
    }
}