.testimonials{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 7rem;
    flex-wrap: wrap;
}

@media (max-width:580px){
    .testimonials{
        gap: 3rem;
    }

}