.footer-containner{

    display: flex;
    flex-direction:row;
    gap: 2rem;
    background-color: rgb(20, 20, 20); 
    padding: 1.75rem 2rem;
    width:100%;
    position: sticky;
    bottom: 0;
   

}
.text-box{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    margin-left: 6rem;
    flex: 2;
}
.width{
    width: 50%;
}
.links-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
   
}
.contactus-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.follow-box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.color-white{
    color: white;
}
.color{
    color:rgb(106, 99, 99);
}
/* Responsive styles */
@media (max-width: 765px) {
    .footer-containner {
      flex-direction: column;
      text-align: center;
    }
  
    .text-box {
      text-align: center;
      margin: 0;
    }
  
    .width {
      width: 100%;
    }
  
    .links-box {
      text-align: center;
    }
  
    .contactus-box {
      text-align: center;
    }
  
    .follow-box {
      justify-content: center;
    }
  }